.pessoa__imagem {
  background: red;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  background-repeat: no-repeat;
  height: 300px;
  margin: 0 auto;
  width: 300px;
}

.pessoa__imagem--roberta {
  background: url('../../img/pessoas/roberta.jpg');
}
.pessoa__imagem--marcela {
  background: url('../../img/pessoas/marcela.jpg');
}
.pessoa__imagem--andreia {
  background: url('../../img/pessoas/andreia.jpg');
}